.book-title {
	margin: 4rem 0 2rem;
	font-weight: 500;
}

.book-image {
	padding-top: 1rem ;
	width: 15rem;
}

.col.op {
	border-left: solid lightgray;
	padding-left: 1.5rem;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.brief-text {
	text-indent: 2rem;
}

.catalog, .summary {
	max-height: 30rem;
}

.rec-img {
	display: block;
	margin: auto;
	width: 12rem;
}

.rec-title {
	padding: 1rem;
}

.tags {
	display: inline-block;
}

.tag {
	display: inline-block;
	margin: 0.2rem;
	padding: 0.1rem;
	background: #F5F5F5;
}

