.banner {
	height: 15rem;
	background: lightcyan url(../bower_components/Materialize/templates/parallax-template/background2.jpg) center;
	background-size: cover;
	overflow: hidden;
}

.banner-text {
	padding-top: 4rem;
}

.search-form {
	padding: 10rem 0 2rem;
}

.divider {
	margin-bottom: 0.5rem;
}

.rec-category {
	margin: 1rem;
}

.rec-img {
	display: block;
	margin: auto;
	width: 12rem;
}

.rec-title {
	padding: 1rem;
}

.search-item {
	padding: 2rem 2rem 0;
	border-top: 1px dashed #ddd;
}

.tags {
	display: inline-block;
}

.tag {
	display: inline-block;
	margin: 0.2rem;
	padding: 0.1rem;
	background: #F5F5F5;
}
