.user-nav {
	height: 3rem;
	line-height: 3rem;
	background-color: rgba(86, 90, 92, 0.9);
}

.user-panel {
	padding: 2rem;
}

.settings-title {
	height: 3rem;
	line-height: 3rem;
	background: lightgray;
}

.settings-nav a {
	color: gainsboro;
}

.settings-nav .active a {
	color: gray;	
}
